<div class="container-fluid">
  <div class="row">
    <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>   
      <!-- Quote Input -->
      <div class="form-group">
        <label for="name">Quote</label>

        <input type="text" class="form-control-lg" id="name" placeholder="Quote" rows="4" [(ngModel)]="newQuote.quotes" name="quotes" #quote="ngModel" required>

        <div [hidden]="quote.valid || quote.pristine" class="alert alert-danger">
          <!-- <p>Quote is required</p> -->
        </div>
      </div>

      <!-- Author -->
    <div class="form-group">
      <label for="name">Author</label>
      <input type="text" class="form-control-sm" id="name" placeholder="Author" rows="4" [(ngModel)]="newQuote.name" name="name" #name="ngModel" required> 
  </div>
      <!-- Date Input -->
      <div class="form-group">
        <label for="post">Postdate</label>
        <input type='date' id="post" [(ngModel)]="newQuote.postDate" name="postDate" #postDate="ngModel" required>
      </div>

      
        <button type="submit" class="btn btn-success">Add Quote</button>
    </form>
   </div>
</div>